*{
    padding:0;
    margin: 0;
  }
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
  h1{
      color:#2bb3b1;
      margin-bottom: 1.5rem;
      font-size: 1.7rem;
  }
  h2{
      color:#bfdf32;
      margin-bottom: 1rem;
      font-size: 1.5rem;
  }

  .text{
      color:#9d9fa7;
  }
  .subtitle{
      color: white;
      margin-bottom: 2rem;
      font-size: 1.1rem;
  }
  .price{
      font-size: 2.4rem;
      color: white;
  }
  .permonth{
    color: rgb(207, 207, 207);
  }

  .text1{
      margin-top:1rem;
    color: rgb(235, 235, 235);
  }

.boton{
    background-color: #bfdf32;
    padding: 20px 50px;
    border: none;
    border-radius: 0.8rem;
    margin-top: 1.4rem;
    width: 100%;
    color:white;
    font-size: 1.2rem;
  }
.boton:hover{
    background-color: #8a9e31;
}
 
.container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        margin-top:30px;
        margin-left: 20%;
        margin-right: 20%;
        border:solid 2px rgb(182, 182, 182);
        border-radius: 0.8rem;
  }

 .description{
    grid-area: 1 / 1 / 2 / 3;
    background-color:hsl(0, 0%, 100%);
    padding:3rem;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;

}

  .subscription{
      grid-area: 2/1/3/2 ;
      background-color:#2bb3b1;
      padding:3rem;
      border-bottom-left-radius: 0.6rem;
      text-shadow: 0.1em 0.1em 0.2em rgb(136, 136, 136)
  }

.about{
    grid-area:2/2/3/3;
    background-color:#4abebd;
    padding:3rem;
    border-bottom-right-radius: 0.6rem;
    color:#ade5ff;
    line-height : 20px;
    text-shadow: 0.1em 0.1em 0.2em rgb(136, 136, 136)
}

.attribution{
    text-align: center;
    margin-top:1%;
    margin-bottom:1%;
}